<%= form_for([@play, @play.reviews.build]) do |f| %>

<div id="rating-form">
  <label>Rating</label>
</div>

<div class="form-group">
  <%= f.label :comment %>
  <%= f.text_area :comment, rows: "2", class: "form-control" %>
</div>

<%= f.submit "Rate!", class: "btn btn-primary" %>

<% end %>

<script>
$('#rating-form').raty({
  path: '/assets/',
  scoreName: 'review[rating]'
});
</script>
