<div class="col-md-10 col-md-offset-1">
  <div id="edit-review">
    <%= form_for([@play, @review]) do |f| %>

    <div id="rating-form">
      <label for="rating-form"> Rating </label>
    </div>

    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :comment, rows: "2", class: "form-control" %>
    </div>

    <%= f.submit "Update", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>

<script>
$('#rating-form').raty({
  path: '/assets/',
  scoreName: 'review[rating]'
});
</script>
